.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('https://cdn.discordapp.com/attachments/956824414434000916/1209151487368761424/are-sprouted-potatoes-ok-safe-to-eat-e4c7bd16ff524844b5bae8fcd29dc83f.jpg?ex=65e5e113&is=65d36c13&hm=b5cb2fb4c0206b33e50b01de128653e7eb3be6a386dd27a6507abcb5557a253a&');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 300px;
  color: rgb(255, 255, 255);
  margin: 1rem;
  border-radius: 1rem;
}

.topContainer h1 { 
  background-color: rgb(182, 155, 200);
  border: 4px solid rgb(255, 255, 255);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.topContainer input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.movieContainer {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: rgb(245, 229, 241);
  font-family: Arial, sans-serif;
}

.movieCard {
  padding: 1rem;
  margin: 1rem;
  border: 3px solid rgb(122, 22, 109);
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.movieCard:hover {
  background-color: rgb(157, 84, 170);

}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;

}

.movieCard img {
  width: 60px;
  height: auto;
  margin-right: 1rem;

}

.selectedMovie {
  background-color: #F9E9D5;
  border: 4px solid #C0A0C1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  color: rgb(119, 85, 110);
  border-radius: 1rem;

}

.movieContainer {
  background-color: #C0A0C1;
  color: #F9E9D5;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
}

.resultsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F9E9D5;
  border: 4px solid #C0A0C1;
  color: #C0A0C1;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}
